[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
sklearn = "*"
numpy = "*"
"h5py" = "*"
matplotlib = "*"
pillow = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.6"
